.section_boton{
    margin-top: 25px;
    margin-left: 20px;
    font-style: italic;
    font-size: 2rem;
}

.contacto{
    padding: 3px 5px;
    margin: 40px;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}