.footer{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-top: 15px;
    margin-top: 30px;
    background-color: rgb(248, 245, 245);
    list-style: none;

    &_menu{
            text-decoration: none;
            list-style: none;
            a{
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            color: black;
            font-style: italic;
            font-weight: bold;
            font-size: small;
        }
    &_bequian{
        left: 15px;
        position: absolute;
    }
        
 
    }
    &_direccion{
        padding-right: 15px;
        margin-right: 30px;
        align-items: flex-end;
        position: relative;
        
    }
    &_ubicacion{
        color: black;
        font-weight: bold;
        font-style: italic;
        font-size: small;
    }
}