.footer_dos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "list adress" "logo adress";
    background-color: rgb(248, 245, 245);
    
    
    

}

.footer_list{
    grid-area: list;
    background-color: rgb(248, 245, 245);
    list-style: none;
    margin-top: 20px;
    margin-left: 15px;
    justify-self: start;
    a{
        text-decoration: none;
        color: black;
        font-style: italic;
        font-weight: bold;
        padding: 10px;
    }
}

.footer_list a:hover{
    color: white;
}

.footer_logo{
    grid-area: logo;
    background-color: rgb(248, 245, 245);
    margin-left: 25px;
    justify-self: start;
}

.footer_adress{
    grid-area: adress;
    background-color: rgb(248, 245, 245);
    margin: 10px;
    padding: 15px;
    justify-self: end;
}

.footer_location{
    font-style: italic;
    
}
