
@media (max-width: 768px){
    .header_menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        justify-content: space-around;
        margin: 15px;
        a{
            padding: 10px;
            margin: 5px;
            letter-spacing: none;
            font-size: xx-small;
        }
    }
     
}

@media (max-width: 576px){
    .seccion_producto{
        margin: 30px;
        display: block
            
    }
    
}



@media (max-width: 768px){
    .header_menu{
        font-size: xx-small;
    }
}

@media (max-width: 768px){
    .secciones_imagen{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
    }
}

@media (max-width: 768px){
    .footer_location{
        font-size: xx-small;
    }
}
@media (max-width: 768px){
    .footer_map{
        width: 40%;
        height: 120px;
    }
    .footer_logo{
        width: 40%; height: 80px;
    }
}


