* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  background-color: rgba(156, 153, 156, 0.418);
  padding: auto;
  margin: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  list-style: none;
}
.header_menu a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}

.header_menu a:hover {
  color: white;
}

.secciones_subtitulos {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
  font-style: italic;
  font-weight: bold;
}

.secciones_imagen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.section_pago {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  padding: 15px;
  font-style: italic;
  font-size: xx-large;
}

.section_medios {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: auto;
}

.pago_subititulo {
  font-size: large;
  font-style: italic;
}

.section_boton {
  margin-top: 25px;
  margin-left: 20px;
  font-style: italic;
  font-size: 2rem;
}

.contacto {
  padding: 3px 5px;
  margin: 40px;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.header_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  background-color: rgba(156, 153, 156, 0.418);
  padding: auto;
  margin: 1rem;
  list-style: none;
}
.header_menu a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}

.seccion_producto {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .header_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-around;
    margin: 10px;
  }
  .header_menu a {
    padding: 0px;
    margin: 0px;
    letter-spacing: none;
    font-size: xx-small;
  }
}
@media screen and (max-width: 576px) {
  .seccion_producto {
    margin: 30px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .header_menu {
    font-size: xx-small;
  }
}
@media screen and (max-width: 768px) {
  .secciones_imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .footer_location {
    font-size: xx-small;
  }
}
@media screen and (max-width: 768px) {
  .footer_map {
    width: 40%;
    height: 120px;
  }

  .footer_logo {
    width: 40%;
    height: 80px;
  }
}
.footer_dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "list adress" "logo adress";
  background-color: #f8f5f5;
  justify-items: center;
}

.footer_list {
  grid-area: list;
  background-color: #f8f5f5;
  list-style: none;
  margin-top: 20px;
  margin-left: 15px;
}
.footer_list a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: medium;
  padding: 10px;
}

.footer_list a:hover {
  color: white;
}

.footer_logo {
  grid-area: logo;
  background-color: #f8f5f5;
  margin-left: 25px;
}

.footer_adress {
  grid-area: adress;
  background-color: #f8f5f5;
  margin: 10px;
  padding: 15px;
}

.footer_location {
  font-style: italic;
  font-size: small;
}/*# sourceMappingURL=sass.css.map */