* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(156, 153, 156, 0.418);
  padding: auto;
  margin: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  list-style: none;
}

.header_menu a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}

.secciones_subtitulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: black;
  font-style: italic;
  font-weight: bold;
}

.secciones_imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.section_pago {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  padding: 15px;
  font-style: italic;
  font-size: xx-large;
}

.section_medios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  padding: auto;
}

.pago_subititulo {
  font-size: large;
  font-style: italic;
}

.section_boton {
  margin-top: 25px;
  margin-left: 20px;
  font-style: italic;
  font-size: 2rem;
}

.contacto {
  padding: 3px 5px;
  margin: 40px;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(156, 153, 156, 0.418);
  padding: auto;
  margin: 1rem;
  list-style: none;
}

.header_menu a {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
  font-weight: bold;
}

.seccion_producto {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header_menu a {
    padding: 10px;
    margin: 0px;
    letter-spacing: none;
    font-size: xx-small;
  }
}

@media (max-width: 576px) {
  .seccion_producto {
    margin: 30px;
    display: block;
  }
}

@media (max-width: 768px) {
  .header_menu {
    font-size: xx-small;
  }
}

@media (max-width: 768px) {
  .secciones_imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer_dos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "list adress" "logo adress";
  background-color: #f8f5f5;
}

.footer_list {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: list;
  justify-items: center;
  background-color: #f8f5f5;
  list-style: none;
  margin-top: 20px;
  margin-left: 15px;
}

.footer_list a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: medium;
  padding: 10px;
}

.footer_logo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: logo;
  justify-items: center;
  background-color: #f8f5f5;
}

.footer_adress {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: adress;
  justify-items: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #f8f5f5;
  margin: 10px;
  padding: 15px;
}
/*# sourceMappingURL=sass.css.map */